@tailwind base;
@tailwind components;

html {
  @apply scroll-smooth;
}

h1,h2,h3,h4,h5, nav a {
  font-weight: bold;
  font-family: 'Lato';
}

p {
  font-family: 'Montserrat';
}

a {
  font-size: 16px; 
  line-height:24px;
}

h1 {
  font-size: 55px;
  line-height: 66px;
}

h2 {
  font-size: 44px;
  line-height: 52px;
}

h3 {
  font-size: 35px;
  line-height: 42px;
}

h4 {
  font-size: 28px;
  line-height: 33px;
}

h5 {
  font-size: 22px;
  line-height: 26px;
}

h6 {
  font-size: 18px;
  line-height: 24px;
}

p {
  font-size: 18px;
  line-height: 30px;
}

:root {
  --spacing-variable: 16px;
  --vertical-spacing-variable: 8px;
  --section-spacing: 64px;
  --navbar-height: 96px;
}

/* HORIZONTAL SPACING */

.sp-h {
  padding-inline: var(--spacing-variable);
}

.sp-2h {
  padding-inline: calc(2*var(--spacing-variable));
}

.sp-3h {
  padding-inline: calc(3*var(--spacing-variable));
}

.sp-4h {
  padding-inline: calc(4*var(--spacing-variable));
}

.sp-5h {
  padding-inline: calc(5*var(--spacing-variable));
}

.sp-6h {
  padding-inline: calc(6*var(--spacing-variable));
}

.sp-7h {
  padding-inline: calc(7*var(--spacing-variable));
}

.sp-8h {
  padding-inline: calc(8*var(--spacing-variable));
}

/* BLOCK SPACING */

.sp-1\/2v {
  padding-block: calc(var(--vertical-spacing-variable)/2);
}

.sp-v {
  padding-block: var(--vertical-spacing-variable);
}

.sp-2v {
  padding-block: calc(2*var(--vertical-spacing-variable));
}

.sp-3v {
  padding-block: calc(3*var(--vertical-spacing-variable));
}

.sp-4v {
  padding-block: calc(4*var(--vertical-spacing-variable));
}

.sp-5v {
  padding-block: calc(5*var(--vertical-spacing-variable));
}

.sp-6v {
  padding-block: calc(6*var(--vertical-spacing-variable));
}

.sp-7v {
  padding-block: calc(7*var(--vertical-spacing-variable));
}

.sp-8v {
  padding-block: calc(8*var(--vertical-spacing-variable));
}

/* TOP SPACING */

.sp-1\/2t {
  margin-top: calc(var(--vertical-spacing-variable)/2);
}

.sp-t {
  margin-top: var(--vertical-spacing-variable);
}

.sp-2t {
  margin-top: calc(2*var(--vertical-spacing-variable));
}

.sp-3t {
  margin-top: calc(3*var(--vertical-spacing-variable));
}

.sp-3\.5t {
  margin-top: calc(3*var(--vertical-spacing-variable));
}

.sp-4t {
  margin-top: calc(4*var(--vertical-spacing-variable));
}

.sp-5t {
  margin-top: calc(5*var(--vertical-spacing-variable));
}

.sp-6t {
  margin-top: calc(6*var(--vertical-spacing-variable));
}

.sp-7t {
  margin-top: calc(7*var(--vertical-spacing-variable));
}

.sp-8t {
  margin-top: calc(8*var(--vertical-spacing-variable));
}

.nav-pad {
  padding-top: calc(var(--navbar-height) + var(--section-spacing));
  padding-bottom: var(--section-spacing);
}

@screen md {
  h1 {
    font-size: 76px;
    line-height: 91px;
  }

  h2 {
    font-size: 57px;
    line-height: 68px;
  }

  h3 {
    font-size: 43px;
    line-height: 51px;
  }

  h4 {
    font-size: 32px;
    line-height: 38px;
  }

  h5 {
    font-size: 24px;
    line-height: 28px;
  }

  :root {
    --spacing-variable: 32px;
    --vertical-spacing-variable: 16px;
  }
  
}

@screen xl {
  h1 {
    font-size: 88px;
    line-height: 105px;
  }

  h2 {
    font-size: 66px;
    line-height: 79px;
  }

  h3 {
    font-size: 50px;
    line-height: 60px;
  }

  h4 {
    font-size: 37px;
    line-height: 44px;
  }

  h5 {
    font-size: 28px;
    line-height: 33px;
  }

  h6 {
    font-size: 21px;
    line-height: 30px;
  }

  :root {
    --spacing-variable: 64px;
    --vertical-spacing-variable: 32px;
    --section-spacing:128px;
    --navbar-height: 128px;
  }


}

/* REUSABLE CLASSES */
.bg-gradient {
  @apply bg-gradient-to-r from-secondary to-primary;
}

.text-gradient {
  @apply text-transparent bg-gradient-to-r from-secondary to-primary bg-clip-text;
}

.btn {
  @apply px-8 py-3 rounded-md place-items-center;
}

.btn-icon {
  @apply flex flex-row gap-2 items-center
}

/* UTILITY CLASSES */
.btn-gradient {
  @apply text-white bg-gradient;
}

.btn-gradient:hover {
  @apply bg-gradient-to-r from-primary to-primary;
}

.btn-gradient:active{
  @apply bg-gradient bg-opacity-80;
}

.btn-border-dark {
  @apply text-black border-2 border-black btn;
}

.btn-light:hover {
  @apply bg-black text-white-80;
}

.btn-light:active {
  @apply bg-black-75;
}

.btn-border-light {
  @apply text-white border-2 border-white btn;
}

.btn-border-light:hover {
  @apply bg-black-25 text-white-80;
}

.btn-border-light:active {
  @apply bg-black-10;
}


@tailwind utilities;
