@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  width: 10px;
  background:#2D033B;
  overflow: hidden;
}

::-webkit-scrollbar-thumb {
  background: rgba(255,255,255, 0.5);
  border-radius: 0.375rem;
}

.main-margin::-webkit-scrollbar-track-piece:start {
  margin-top: 128px;
}

.main-margin::-webkit-scrollbar-track-piece:end {
  margin-bottom: 532px; 
}
