@tailwind base;
@tailwind components;

html {
  @apply scroll-smooth;
}

:root {
  --spacing-variable: 16px;
  --vertical-spacing-variable: 16px;
  --section-spacing: 64px;
  --navbar-height: 96px;
  --font-base-size: 18px;
  --typography-scale: 1.25;
}

h1,h2,h3,h4,h5, nav a {
  @apply font-bold leading-tight font-lato;
}

p {
  @apply font-medium leading-tight font-montserrat;
}

section {
  padding-block: var(--section-spacing);
}

a {
  font-size: 16px; 
  line-height:24px;
}

h1 {
  font-size: calc(var(--font-base-size) * var(--typography-scale) * var(--typography-scale) * var(--typography-scale) * var(--typography-scale) * var(--typography-scale));
}

h2 {
  font-size: calc(var(--font-base-size) * var(--typography-scale) * var(--typography-scale) * var(--typography-scale) * var(--typography-scale));
}

h3 {
  font-size: calc(var(--font-base-size) * var(--typography-scale) * var(--typography-scale) * var(--typography-scale));
}

h4 {
  font-size: calc(var(--font-base-size) * var(--typography-scale) * var(--typography-scale));
}

h5 {  
  font-size: calc(var(--font-base-size) * var(--typography-scale));
}

h6 {
  font-size: calc(var(--font-base-size));
}

p {
  font-size: 18px;
  line-height: 30px;
}


/* HORIZONTAL SPACING */
@responsive {
.sp-0h {
  padding-inline: 0px;
}

.sp-h {
  padding-inline: var(--spacing-variable);
}

.sp-2h {
  padding-inline: calc(2*var(--spacing-variable));
}

.sp-3h {
  padding-inline: calc(3*var(--spacing-variable));
}

.sp-4h {
  padding-inline: calc(4*var(--spacing-variable));
}

.sp-5h {
  padding-inline: calc(5*var(--spacing-variable));
}

.sp-6h {
  padding-inline: calc(6*var(--spacing-variable));
}

.sp-7h {
  padding-inline: calc(7*var(--spacing-variable));
}

.sp-8h {
  padding-inline: calc(8*var(--spacing-variable));
}

/* BLOCK SPACING */

.sp-0v {
  padding-block: 0px;
}

.sp-1\/2v {
  padding-block: calc(var(--vertical-spacing-variable)/2);
}

.sp-v {
  padding-block: var(--vertical-spacing-variable);
}

.sp-2v {
  padding-block: calc(2*var(--vertical-spacing-variable));
}

.sp-3v {
  padding-block: calc(3*var(--vertical-spacing-variable));
}

.sp-4v {
  padding-block: calc(4*var(--vertical-spacing-variable));
}

.sp-5v {
  padding-block: calc(5*var(--vertical-spacing-variable));
}

.sp-6v {
  padding-block: calc(6*var(--vertical-spacing-variable));
}

.sp-7v {
  padding-block: calc(7*var(--vertical-spacing-variable));
}

.sp-8v {
  padding-block: calc(8*var(--vertical-spacing-variable));
}

/* TOP SPACING */

.sp-0t {
  margin-top: 0px;
}

.sp-1\/2t {
  margin-top: calc(var(--vertical-spacing-variable)/2);
}

.sp-t {
  margin-top: var(--vertical-spacing-variable);
}

.sp-2t {
  margin-top: calc(2*var(--vertical-spacing-variable));
}

.sp-3t {
  margin-top: calc(3*var(--vertical-spacing-variable));
}

.sp-3\.5t {
  margin-top: calc(3*var(--vertical-spacing-variable));
}

.sp-4t {
  margin-top: calc(4*var(--vertical-spacing-variable));
}

.sp-5t {
  margin-top: calc(5*var(--vertical-spacing-variable));
}

.sp-6t {
  margin-top: calc(6*var(--vertical-spacing-variable));
}

.sp-7t {
  margin-top: calc(7*var(--vertical-spacing-variable));
}

.sp-8t {
  margin-top: calc(8*var(--vertical-spacing-variable));
}

.nav-pad {
  padding-top: var(--navbar-height);
}

.prices-table td,th {
  text-align: right;
}

.prices-table td{
  @apply sp-v;
  min-width:8ch;
}

.prices-table th {
  padding-bottom: var(--vertical-spacing-variable);
}

.prices-table td:first-child, th:first-child {
  text-align: left;
}
}

@screen md {
  :root {
    --spacing-variable: 32px;
    --vertical-spacing-variable: 16px;
    --font-base-size: 18px;
    --typography-scale: 1.333;
  }
}

@screen xl {
  :root {
    --spacing-variable: 64px;
    --vertical-spacing-variable: 32px;
    --section-spacing:128px;
    --navbar-height: 128px;
    --font-base-size: 21px;
    --typography-scale: 1.333;
  }
}

/* REUSABLE CLASSES */
.bg-gradient {
  @apply bg-gradient-to-r from-secondary to-primary;
}

.text-gradient {
  @apply text-transparent bg-gradient-to-r from-secondary to-primary bg-clip-text;
}

.btn {
  @apply px-6 py-3 rounded-md place-items-center;
}

.btn-icon {
  @apply flex flex-row gap-2 items-center
}

/* UTILITY CLASSES */
.btn-gradient {
  @apply text-white bg-gradient;
}

.btn-gradient:hover {
  @apply bg-gradient-to-r from-primary to-primary;
}

.btn-gradient:active{
  @apply bg-gradient bg-opacity-80;
}

.btn-border-dark {
  @apply text-black border-2 border-black btn;
}

.btn-light:hover {
  @apply bg-black text-white-80;
}

.btn-light:active {
  @apply bg-black-75;
}

.btn-border-light {
  @apply text-white border-2 border-white btn;
}

.btn-border-light:hover {
  @apply bg-black-25 text-white-80;
}

.btn-border-light:active {
  @apply bg-black-10;
}


@tailwind utilities;

.review-container::-webkit-scrollbar {
  height:5px;
}
.review-container::-webkit-scrollbar-thumb {
  height:5px;
  background-color: rgba(255,255,255,0.4);
  margin-left: calc(var(--spacing-variable) * 2);
}